[Unit]
Description=mqtt logger
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /home/ravinder/development/adsb-support/dump-adsb-raw.py
Restart=on-abort

[Install]
WantedBy=multi-user.target